Mess of Code/utilities/credentials.py
Organized Code/credentials.py
Organized Code/.env
Mess of Code/utilities/__pycache__/credentials.cpython-38.pyc
__pycache__/
Mess of Code/utilities/__pycache__/
WebScrapping/Icons/*.png